<div class="navbar-caval navbar navbar-inverse opaque-navbar navbar-fixed-top">
  <%= link_to root_path do %><h2>CΛVΛL</h2><% end %>
  <%= link_to collections_path do %><h5>Collection</h5><% end %>
  <%= link_to root_path do %><h5>La marque</h5><% end %>
  <%= link_to root_path do %><h5>L'équipe</h5><% end %>
</div>
